/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "init";
@import "mixins";

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSans-300.eot');
    src: local('Museo Sans'), local('MuseoSans-300'),
        url('../fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans-300.woff2') format('woff2'),
        url('../fonts/MuseoSans-300.woff') format('woff'),
        url('../fonts/MuseoSans-300.ttf') format('truetype'),
        url('../fonts/MuseoSans-300.svg#MuseoSans-300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSans-500.eot');
    src: local('Museo Sans'), local('MuseoSans-500'),
        url('../fonts/MuseoSans-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans-500.woff2') format('woff2'),
        url('../fonts/MuseoSans-500.woff') format('woff'),
        url('../fonts/MuseoSans-500.ttf') format('truetype'),
        url('../fonts/MuseoSans-500.svg#MuseoSans-500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSans-700.eot');
    src: local('Museo Sans'), local('MuseoSans-700'),
        url('../fonts/MuseoSans-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSans-700.woff2') format('woff2'),
        url('../fonts/MuseoSans-700.woff') format('woff'),
        url('../fonts/MuseoSans-700.ttf') format('truetype'),
        url('../fonts/MuseoSans-700.svg#MuseoSans-700') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: local('Open Sans'), local('OpenSans'),
        url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans.ttf') format('truetype'),
        url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
        url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
        url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $body-font-weight;
  color: $body-font-color;
  background-color: $body-bg;
  min-height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @include header-style(none);
}
h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;

  @media #{$xs-only} {
    font-size: $h2-font-size-small;
  }
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}
p {
  @include paragraph-style();
}
a{
  text-decoration: $anchor-text-decoration;
  color: $anchor-font-color;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;

  &:hover {
    color: $anchor-font-color-hover;
  }
}
img {
  max-width: 100%;
}

.form-item {
  margin-bottom: $form-item-margin;

  label {
    font-family: $form-label-font-family;
    font-size: $form-label-font-size;
    font-weight: $form-label-font-weight;
    line-height: $form-label-line-height;
    color: $form-label-font-color;
    margin-bottom: $form-label-bottom-margin;
  }

  .description {
    font-family: $form-label-font-family;
    font-size: $form-label-font-size;
  }
}

.form-text {
  @include form-element;
}

.form-select {
  @include form-select;
}

.form-submit,
input[type="button"],
input[type="submit"] {
  @include button($padding:$button-md, $bg:false, $width: auto);
}

.container {
  @include container();
}

.header {
  padding: 14px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: $body-bg;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;

  &.active {
    -webkit-box-shadow: 0 0 4px #999;
    -moz-box-shadow: 0 0 4px #999;
    box-shadow: 0 0 4px #999;
  }

  @media #{$md-up} {
    padding: 18px 0;
  }

  .container {
    @include clearfix();
    max-width: 100%;
    position: relative;

    @media #{$md-up} {
      @include container();
    }
  }
    
  #logo {
    width: 153px;

    @media #{$md-up} {
      float: left;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    img {
      vertical-align: top;
    }
  }

  .toggle-menu {
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 7px 10px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 15px;
    top: -2px;

    @media #{$md-up} {
      display: none;
    }

    &:after {
      content: "";
      background-clip:content-box;
      background-color: $primary-color;
      border-bottom: 2px solid $primary-color;
      border-top: 2px solid $primary-color;
      float: right;
      height: 12px;
      padding-bottom: 3px;
      padding-top: 3px;
      width: 16px;
    }
  }

  .region-header {
    width: 100%;

    @media #{$md-up} {
      float: right;
      width: auto;
    }

    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        list-style-image: none;
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 0;

        a {
          display: inline-block;
          color: $body-font-color;
          text-transform: uppercase;
          padding: 10px 8px;
          font-weight: 500;

          @media #{$md-up} {
            padding: 10px 16px;
          }

          &:hover {
            color: $primary-color;
          }
        }

        &.last {
          @media #{$md-up} {
            margin-left: 14px;
          }

          a {
            @include button($padding:$button-md, $bg:false, $width: 108px);
          }
        }
      }
    }
  }

  &--mobile {
    .region-header {
      width: 100%;
      border-top: 1px solid #f2f2f2;
      display: none;
      margin-top: 14px;
      padding-top: 10px;

      .menu {
        li {
          display: block;

          a {
            display: inline-block;
            width: 100%;
            padding: 7px 10px;
          }

          &.last {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.front {
  .section {
    &.highlighter {
      background-color: $secondary-color;
    }

    &__container {
      text-align: center;
      padding-bottom: 15px;
      padding-top: 25px;

      @media #{$sm-up} {
        padding-bottom: 25px;
        padding-top: 35px;
      }

      h2 {
        @include container();
        margin-bottom: 22px;
        text-transform: uppercase;

        @media #{$xs-only} {
          margin-bottom: 15px;
        }
      }

      &--our-mission {
        background-color: $secondary-color;
        padding-bottom: 25px;

        @media #{$md-up} {
          padding-bottom: 45px;
        }
      }

      &--our-members {
        background-color: $secondary-color;
      }
    }
  }
}

.not-front {
  .header {
    &.active {
      background-color: $secondary-color;
    }
  }

  .section {
    &__breadcrumbs {
      background-color: $secondary-color;
      padding: 15px 0;
      margin-bottom: 20px;

      @media #{$md-up} {
        margin-bottom: 30px;
      }
    }

    &__container {
      @include container();

      .page-title {
        font-size: $h2-font-size;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media #{$md-up} {
          margin-bottom: 30px;
        }
      }

      .messages {
        margin-bottom: 20px;
        margin-top: 0;

        @media #{$md-up} {
          margin-bottom: 30px;
        }
      }
    }

    &.content {
      padding-bottom: 10px;

      @media #{$md-up} {
        padding-bottom: 20px;
      }
    }
  }
}

.view-hero {
  &__row {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.5);
    }

    &--image {
      display: none;

      @media #{$md-up} {
        display: inline-block;
      }

      img {
        vertical-align: top;
      }
    }

    &--bleedtext {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      padding: 20px 20px 10px;
      text-align: center;
      color: #fff;

      @media #{$md-up} {
        @include container();
        position: absolute;
        left: 0;
        top: 15px;
        width: 100%;
        left: 50%;
        padding: 0;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
      }

      @media #{$lg-up} {
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
    }

    &--title {
      font-size: $h1-font-size-small;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 50px;
      margin-bottom: 15px;
      position: relative;
      z-index: 1;

      @media #{$lg-up} {
        font-size: $h1-font-size;
        line-height: 70px;
        margin-bottom: 25px;
      }
    }

    &--bleedtext-1,
    &--bleedtext-2,
    &--bleedtext-3 {
      margin-bottom: 15px;
      width: 600px;
      max-width: 100%;
      display: inline-block;
      position: relative;
      z-index: 1;

      @media #{$lg-up} {
        margin-bottom: 22px;
      }
    }

    &--bleedtext-1,
    &--bleedtext-3 {
      font-size: 16px;
      line-height: 26px;

      @media #{$lg-up} {
        font-size: 17px;
        line-height: 33px;
      }
    }

    &--bleedtext-2 {
      font-size: 14px;
    }
  }
}

.view-events {
  @include container();

  &__row {
    @include grid-row();

    &--wrap {
      @include grid-column(12);
      margin-top: -4px;

      @media #{$sm-up} {
        @include grid-column(9);
        text-align: left;
      }
    }

    &--title {
      @include header-style(none);
      font-size: $h4-font-size;
      margin-bottom: 7px;

      b {
        color: $primary-color;
      }
    }

    &--body {
      @include paragraph-style();
      margin-bottom: 15px;

      @media #{$sm-up} {
        margin-bottom: 5px;
      }
    }

    &--url {
      @include grid-column(12);
      padding-bottom: 10px;

      @media #{$sm-up} {
        @include grid-column(3);
        text-align: right;
        padding-bottom: 0;
      }

      a {
        @include button($padding:$button-md, $bg:true, $width: 100px);
      }
    }
  }
}

.view-get-involved {
  @include container();

  .view-content {
    @include grid-row();
  }

  &__row {
    @include grid-column(12);
    padding-bottom: 15px;
    padding-top: 15px;

    @media #{$md-up} {
      @include grid-column(4);
    }

    &--icon {
      margin-bottom: 15px;

      @media #{$md-up} {
        margin-bottom: 30px;
      }

      img {
        width: 130px;
        vertical-align: top;
      }
    }

    &--title {
      @include header-style(uppercase);
      font-size: $h4-font-size;
    }

    &--body {
      @include paragraph-style();
      padding: 0 8px;

      @media #{$md-only} {
        padding: 0 14px;
      }
    }

    &--url {
      a {
        @include button($padding:$button-md, $bg:false, $width: 208px);
      }
    }
  }
}

.view-our-mission {
  @include container();
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #d9dadd;

    @media #{$md-up} {
      bottom: -35px;
    }
  }

  .view-header {
    padding-top: 5px;

    p + p {
      font-size: $h4-font-size;
      font-family: $header-font-family;
      font-weight: $header-font-weight;
    }
  }

  .view-content {
    @include grid-row();
  }

  &__row {
    @include grid-column(12);
    padding-bottom: 10px;
    padding-top: 10px;

    @media #{$md-up} {
      @include grid-column(4);
      padding-bottom: 15px;
      padding-top: 15px;
    }

    &--wrap {
      background-color: $body-bg;
      border-radius: 5px;
      position: relative;
      margin-top: 50px;
      padding: 55px 18px 10px;

      @media #{$md-only} {
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    &--icon {
      background-color: #57c0d5;
      border: 10px solid #fff;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: inline-block;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      top: -50px;

      img {
        width: 80px;
        vertical-align: top;
      }
    }
    &--title {
      @include header-style(none);
      font-size: $h4-font-size;
      color: #5dc0c9;
    }
    &--body {
      @include paragraph-style();
    }
    &--url {
      a {
        @include button($padding:$button-md, $bg:false, $width: 208px);
      }
    }
  }
}

.view-our-members {
  @include container();

  .slick__arrow {
    display: none;
  }

  .slide {
    &__content {
      img {
        width: 170px;
        vertical-align: top;
      }
    }
  }
}

.blogs {
  .region-blogs {
    .content {
      text-align: left;
      padding-left: 50px;
      padding-right: 50px;

      @media #{$md-up} {
        @include container();
      }

      @media #{$md-only} {
        padding-left: 30px;
        padding-right: 30px;
      }

      .views-field-title {
        @include paragraph-style();
        color: $primary-color;
        margin-bottom: 12px;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 6px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        vertical-align: top;

        a {
          font-weight: 600;
          color: $primary-color;
        }
      }

      .views-field-body {
        @include paragraph-style();
      }

      .views-field-created {
        @include paragraph-style();
        border-top: 1px solid #f2f2f2;
        padding-top: 14px;
        margin-bottom: 10px;
      }

      .slick__slider {
        margin-bottom: 0;
      }

      .slick-dots {
        display: none;
      }
    }
  }
}

.slick {
  &__slide {
    padding: 0 14px;
  }

  &__arrow {
    .slick-arrow {
      &:before {
        display: none;
      }
    }

    .slick-prev {
      background: url(../images/slick-prev.png) center center no-repeat;
      left: -40px;
    }

    .slick-next {
      background: url(../images/slick-next.png) center center no-repeat;
      right: -40px;
    }
  }

  .slick-dots {
    bottom: -30px;

    li {
      width: auto;
      height: auto;

      button {
        padding: 0;
        background-color: #989eac;
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: $primary-color;
        }
      }
    }
  }
}

.node {
  &-teaser {
    padding-bottom: 20px;

    @media #{$md-up} {
      padding-bottom: 30px;
    }

    & + .node-teaser {
      border-top: 1px solid rgba(0,0,0,0.06);
      padding-top: 20px;

      @media #{$md-up} {
        padding-bottom: 30px;
      }
    }
  }

  &--details {
    padding-bottom: 20px;

    @media #{$md-up} {
      padding-bottom: 30px;
    }
  }

  &--meta {
    margin-bottom: 10px;
  }

  &--title {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &--submitted {
    @include paragraph-style();
    color: $color-gray;
    margin-bottom: 0;
  }

  &--links {
    ul {
      display: inline-block;

      li {
        display: inline-block;
        padding: 0;

        & + li {
          padding-left: 10px;
        }

        a {
          @include button($padding:$button-md, $bg:false, $width: 100px);
        }
      }
    }
  }
}

.tabs-wrapper {
  .tabs {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 8px 12px;
        background-color: $secondary-color;
        color: $primary-color;
        margin-bottom: -1px;

        &:hover,
        &.active {
          background-color: $body-bg;
          color: $body-font-color;
        }
      }
    }
  }
}

.footer {
  background-color: $footer-bg;
  color: $footer-font-color;
  font-family: $base-font-family;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  &__container {
    @include container();

    &--social {
      padding: 15px 0;
      margin: 0;
      border-bottom: 1px solid $footer-border-color;

      @media #{$md-up} {
        padding: 26px 0;
      }

      li {
        display: inline-block;
        padding: 0 5px;

        a {
          display: inline-block;
          height: 22px;
          width: 24px;
          vertical-align: top;
          text-indent: -9999px;
        }

        &.fb {
          a {
            background: url(../images/fb.png) center center no-repeat;
          }
        }

        &.tw {
          a {
            background: url(../images/tw.png) center center no-repeat;
          }
        }

        &.gp {
          a {
            background: url(../images/gp.png) center center no-repeat;
          }
        }
      }
    }

    &--copyright {
      padding: 10px 0;

      @media #{$md-up} {
        padding: 18px 0;
      }

      a {
        color: $footer-link-color;

        &:hover {
          color: $footer-font-color;
        }
      }
    }
  }
}